ul
  list-style-type: none
  padding: 0

.side-menu

  // position: static

  &.fixed
    position: fixed
    top: 0

  a
    text-decoration: none
    border-bottom: 1px solid transparent
    transition: border-color ease-in-out 0.3s

    &:hover
      border-color: yellow
