<nav class="nav-bar navbar-inverse" role="navigation">

  <div id ="top-menu" class="container-fluid active">
    <a class="navbar-brand" href="#">API documentation</a>

    <%# <ul class="nav navbar-nav"> %>
      <%# <form id="qform" class="navbar-form pull-left" role="search"> %>
        <%# <input type="text" class="form-control" placeholder="Search" /> %>
      <%# </form> %>
    <%# </ul> %>

  </div>

</nav>
