- request_headers = repo.headers

div[id="#{ctrl}.request" style="--row-count: #{request_headers.length}"]

  = render 'shared/table', model: ctrl, rows: repo[ctrl], headers: request_headers, nesting: [], type: :request
